* ,
:after,
:before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: none;
    outline: none;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}

body{
    font-weight: 300;
    color: #282c3f;
}

#root{
    height: 100%;
}

.body {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

._3arMG {
    position: relative;
    padding-top: 80px;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 1240px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: left;
}

/* Header */

._76q0O {
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
    contain: size layout style;
    padding: 0 20px;
}

.WJj7x {
    transform: translate3d(0,-80px,0);
}

._1gydB {
    position: absolute;
}

._1EuBh {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

header svg:not(:root) {
    overflow: hidden;
}

._8pSp- {
    stroke: currentColor;
    fill: #fc8019;
    stroke-width: 0;
}

.logo{
    width: 80px;
    cursor: pointer;
}

._2z2N5 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
}

._1tcx6, ._2z2N5 {
    position: relative;
}

._1tcx6 {
    font-weight: 700;
    color: #3d4152;
    float: left;
}

._3odgy {
    display: block;
    min-width: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

._1tcx6:after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -5px;
    width: 100%;
    background: #3d4152;
}

._3HusE {
    display: block;
    padding-left: 5px;
    margin-left: 5px;
    color: #686b78;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.kVKTT {
    position: absolute;
    right: -12px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: .9rem;
    color: #fc8019;
    font-weight: 700;
}

.icon-downArrow:before {
    content: "\2304";
}

._1JNGZ {
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
}

._1fo6c {
    margin-right: 60px;
    color: #323542;
    font-size: 16px;
    font-weight: 500;
}

._1fo6c:first-child {
    margin-right: 0;
}

._1fmVk {
    position: relative;
}

._1T-E4, ._2CgXb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 28px;
}

._2CgXb {
    position: relative;
    height: 80px;
    cursor: pointer;
}

._1T-E4 {
    height: 100%;
    margin-left: -28px;
    color: inherit;
}

._3yZyp {
    position: absolute;
    top: 50%;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 0;
}

._1GTCc {
    position: relative;
}

._2MSid {
    fill: #fff;
    stroke-width: 2px;
    stroke: #1b1d2a;
}

._2vS77 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 14px;
    font-weight: 600;
}

.OnlineHedader {
    margin-left: 20px;
}

/* Home Page */

._29kDH {
    min-height: calc(100vh - 368px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 2;
}

._1LV_f, ._3pFoM {
    background: #fff;
}

._1LV_f {
    width: 1300px;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
}

/* Offer */

.offers{
   height: 100%;
   padding: 0 20px;
   background-color: #171a29;
   contain: content;
}

.offers_layer1{
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 340px;
    display: flex;
    align-items: center;
    contain: layout;
}

.offers_layer2{
    position: relative;
    width: 100%;
}

.offers_layer3{
    width: 100%;
    overflow: hidden;
    padding: 15px 0;
    margin: -15px 0;
}

.offers_layer4{
    height: 260px;
    transition: transform .5s ease;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.offers_layer4::-webkit-scrollbar{
    display: none;
}

.img-offers{
    margin-right: 50px;
    display: inline-block;
}

.offers img{
    width: 260px;
    height: 260px;
    transition: transform .5s cubic-bezier(.215,.61,.355,1);
    backface-visibility: visible;
    transform: translateZ(0);
}

.offers img:hover{
    transform: scale(1.05);
}

.btn_cr{
    position: absolute;
    top: 50%;
    width: 47px;
    height: 47px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(41,48,63,.25);
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border: none;
}

.btn_prev{
    left: -45;
    transform: translate(50%,-50%);
}

.btn_next{
    right: 10;
    transform: translate(50%,-50%);
}

.icon-prev, .icon-next{
    position: relative;
    display: block;
    color: #000000;
    font-size: 1.3rem;
    font-weight: 600;
}

.icon-prev{
    transform: rotate(180deg);
}

._10p2-{
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    background: #fff;
}

/* filter */

.k4axS {
    height: 72px;
    position: relative;
}

._19Aso {
    height: 72px;
    transform: translateZ(0);
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

._2LB31, ._3IrNP {
    height: 100%;
}

._3IrNP {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

._1H8qJ, ._3IrNP {
    position: relative;
}

.BZR3j {
    font-weight: 600;
    font-size: 28px;
    -ms-flex: 1;
    flex: 1;
}

._3Ynv- {
    margin-top: 9px;
}

._2-ofZ, ._3Ynv- {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

._2-ofZ {
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 35px;
    cursor: pointer;
    position: relative;
}

._3bkpC {
    font-weight: 500;
    color: #282c3f;
    margin-right: 15px;
    will-change: opacity;
    opacity: 0;
}

.Vqj7X {
    margin-right: 10px;
}

._2-ofZ {
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    color: #686b78;
    margin-left: 35px;
    cursor: pointer;
    position: relative;
}

._2-ofZ:hover, ._3hfyI {
    color: #3d4152;
}

/* Filter Option Active */

._3hfyI:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 1px;
    top: 31px;
    background: #282c3f;
}

.h0xOG {
    font-weight: 500;
    color: #3d4152;
    margin-left: 10px;
}

.h0xOG:hover {
    color: #fc8019;
}

._3eFQ- {
    color: #fc8019;
    border: 1.5px solid #fc8019;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 8px;
    position: relative;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

._1PoQ7 {
    font-weight: inherit;
}

.icon-filter::before{
    content: "\260D";
}


/* Restaurant Card */

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 39px;
    margin-top: -10px;
    border-top: 1px solid #e9e9eb;
}

.card_link,
._3XX_A {
    position: relative;
}

._3XX_A > .card_link {
    text-decoration: none;
    color: black;
}

.card_link{
    background: #fff;
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 5px 5px 5px;
}

.IJsqo {
    position: absolute;
    left: 2px;
    top: 11px;
    background: rgb(58, 60, 65);
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 500;
    padding: 5px 9px 4px;
    max-width: 50%;
    text-transform: uppercase;
    border-color: rgb(30, 32, 35) transparent;
    z-index: 8;
}

.IJsqo:before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    border-width: 9px 0 0 9px;
}

._1kXWW {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.res-card{
    padding: 10px 10px 17px;
    border: 1px solid #fff;
    contain: content;
}

.res-card:hover{
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
}

.res-card, ._3FR5S {
    position: relative;
}

._3FR5S {
    width: 254px;
}

.efp8s {
    background: #eef0f5;
    width: 254px;
    height: 160px;
    position: relative;
}

.efp8s:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(40,44,63,.05);
    content: "";
    background-blend-mode: overlay;
}

.res-logo{
    opacity: 1!important;
    width: 254px;
    height: 160px;
}

._12_oN{
    opacity: 0;
    transition: opacity .3s ease-out;
}

._3Ztcd{
    margin-top: 14px;
}

.nA6kb{
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
}

._3Ztcd .cuisines{
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
}

.res-details{
    margin-top: 18px;
    font-size: 12px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #535665;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.res-details > .rating{
    height: 20px;
    width: 43px;
    padding: 0 5px;
    font-weight: 400;
    background-color: #48c479;
    color: #fff;
}

/* .res-details > .rating_bad{
    background-color: #db7c38;
} */

.res-card > .quick{
    visibility: hidden;
    color: #5d8ed5;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
}

._1HEuF:hover ._3B2qG {
    visibility: visible;
}

.res-card:hover > .quick{
    visibility: visible!important;
}

.res-card > .quick > span:hover{
    color: #686b78;
}

.res-card > .quick > span:hover ~ .res-card{
    position: absolute;
}

/* shimmer */

/* shimmerHome */

._29C7I{
    height: 340px;
   background-color: #171a29;
   contain: content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

._34fdf{
    color: #fff;
    font-size: 40px;
}

._1LV_f{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.shimmer-container{
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}

.MZy1T {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: center;
    margin-top: -10px;
    padding-top: 39px;
}

.MZy1T:last-child {
    margin-bottom: 0;
    padding-bottom: 80px;
}

._1j_Yo, ._3XX_A {
    position: relative;
}

._1j_Yo {
    background: #fff;
    display: block;
    text-decoration: none;
    color: inherit;
    margin: -20px -20px -41px;
}

._3iWTD {
    padding: 20px 20px 41px;
    border: 1px solid transparent;
    position: relative;
    contain: content;
}

._3FR5S {
    width: 254px;
}

._1HEuF, ._3FR5S {
    position: relative;
}

._1MemN {
    background: #eef0f5;
    width: 254px;
    height: 160px;
}

._79i_S {
    margin-top: 20px;
    width: 134px;
}

._1X1Vy, ._79i_S {
    background: #eef0f5;
    height: 10px;
}

._1X1Vy {
    margin-top: 12px;
    width: 94px;
}

/* Shimmer Res Details */

.main_container-shim {
    position: relative;
    margin: 24px 8px 16px 16px;
    display: flex;
    flex-direction: column;
}

.styles_item-shim{
    width: 776px;
    height: 134px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 14px;
    background: #fffefe;
}

.styles_detailsContainer-shim {
    width: 443px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.styles_ribbon_div{
    width: 70px;
    height: 15px;
    background-color: rgba(40,44,63,.05);
    background-blend-mode: overlay;
}

.styles_itemName-shim{
    width: 170px;
    height: 23px;
    margin-top: 4px;
    background-color: rgba(40,44,63,.05);
    background-blend-mode: overlay;
}

.styles_itemPortionContainer-shim{
    width: 170px;
    height: 19px;
    margin-top: 4px;
    background-color: rgba(40,44,63,.05);
    background-blend-mode: overlay;
}

.styles_itemDesc-shim{
    width: 430px;
    height: 25px;
    margin-top: 14px;
    background-color: rgba(40,44,63,.05);
    background-blend-mode: overlay;
}



.MenuTopHeader_contentDescription__23Hz9 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: .78rem;
    color: #7e808c;
    text-transform: lowercase;
    margin-top: 2px;
}

.login-btn{
    margin-top: 15px;
    padding: 0 20px;
    font-size: 24px;
    height: 40px;
    cursor: pointer;
}

.user-card{
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}

/* Menu Page */


.res_search_click{
    display: none;
}

.nDVxx {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

._31qxg {
    padding-bottom: 48px;
    min-height: 100vh;
    width: 800px;
    margin: 20px auto 0;
}

._1Etxm {
    contain: content;
    border-bottom: 1px solid #e9e9eb;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 52px;
    background: #fff;
  }

  ._3BaXb {
    padding: 0;
    background: #fff;
    height: 52px;
    overflow: hidden;
    border-bottom: 1px solid rgba(40,44,63,.2);
  }

  ._1RUKu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 52px;
    width: 100%;
    padding-right: 16px;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .Back_back__3AFlt {
    padding: 16px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 0;
  }

  .Back_backIcon__1LhL_ {
    stroke-width: 0;
    stroke: currentColor;
    width: 20px;
    height: 20px;
    fill: #3d4152;
    vertical-align: middle;
  }

  .MIJ71 {
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    padding-left: 4px;
  }

  ._3afzg {
    font-size: 1.1rem;
    line-height: 20px;
    width: 100%;
    height: 100%;
    outline: 0;
    border: none;
    overflow: hidden;
    font-family: inherit;
    color: inherit;
    background: inherit;
    vertical-align: middle;
  }

  .vk0x- {
    color: #686b78;
    font-size: 18px;
    height: 18px;
  }

  .MenuTopHeader_menuContainer__1xQaU
  ._3u-Kn {
    display: block;
    background: #d8d8d8;
    color: #3d4152;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }

  .oESCA {
    font-size: 8px;
    line-height: 20px;
  }

.container{
    max-width: 800px;
    min-height: 800px;
    margin: 20px auto 0;
}

._2p-Tc {
    height: 30px;
    font-size: 10px;
    color: #93959f;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

._3jpiZ {
    max-width: 700px;
    min-width: 700px;
    margin-left: 0;
    z-index: 7;
}

a{
    text-decoration: none;
}

.kpkwa {
    margin: 0 5px;
    color: inherit;
}

._1yRfx:after {
    content: " /";
}

.resname {
    color: #535665;
    font-weight: 400;
}

.MenuTopHeader_menuContainer {
    width: 100%;
    height: 52px;
    color: #3d4152;
    position: sticky;
    top: 80;
    left: 0;
    z-index: 6;
    overflow: hidden;
    contain: strict;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    padding-right: 4px;
    margin-top: -52px;
}

.MenuTopHeader_menuContainerOnScroll {
    background-color: #fff;
    border-color: rgba(40,44,63,.1);
    z-index: 8;
}

.MenuTopHeader_content {
    overflow: hidden;
    flex: 1;
}

.MenuTopHeader_menuContainer .MenuTopHeader_content {
    opacity: 0;
}

.MenuTopHeader_menuContainerOnScroll .MenuTopHeader_content {
    opacity: 1;
}


.MenuTopHeader_contentTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: .93rem;
    color: #3d4152;
    font-weight: 600;
}

.MenuTopHeader_rightNav {
    height: 100%;
}

.MenuTopHeader_rightNavItem {
    font-size: 18px;
    min-width: 42px;
    overflow: hidden;
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 12px;
    margin-top: 10px;
}

.MenuTopHeader_rightNavItem .icon-magnifier{
    font-size: 1.5em;
    cursor: pointer;
}

.RestaurantHeader_container{
    margin: 0 16px;
}

.RestaurantHeader_wrapper{
    padding-top: 16px;
    margin-bottom: 18px;
}

.RestaurantNameAddress_wrapper{
    display: inline-block;
    margin-right: 16px;
    width: calc(100% - 120px);
}

.RestaurantNameAddress_name{
    font-size: 1.43rem;
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.RestaurantNameAddress_cuisines {
    font-size: .93rem;
    color: #7e808c;
    height: calc(0.93rem + 2px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    white-space: nowrap;
}

.RestaurantNameAddress_areaWrapper {
    display: flex;
    align-items: center;
    height: 16px;
}

.RestaurantNameAddress_area,
.RestaurantNameAddress_lastMile {
    font-size: .93rem;
    color: #7e808c;
}

.RestaurantNameAddress_lastMile:before {
    content: ",";
    margin-right: 4px;
}

.RestaurantOutletSelector_address {
    padding-left: 4px;
    padding-right: 4px;
    color: #fc8019;
    border: none;
    background: none;
}

.RestaurantOutletSelector_outletIcon {
    font-size: 14px;
}

.RestaurantRatings_wrapper {
    border: 1px solid #e9e9eb;
    background: none;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    max-width: 100px;
    float: right;
}

.RestaurantRatings_avgRating {
    color: #3d9b6d;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9eb;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
}

.RestaurantRatings_totalRatings {
    font-size: 11px;
    color: #8b8d97;
    font-family: ProximaNovaCondensedRegular,arial,Helvetica Neue,sans-serif;
    font-weight: 600;
}

.RestaurantMessage_wrapper {
    color: #7e808c;
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
}

.RestaurantMessage_wrapper:last-child {
    margin-bottom: 18px;
}

.RestaurantMessage_icon {
    margin-right: 8px;
    height: 18px;
    width: 18px;
}

.RestaurantMessage_text {
    flex-grow: 1;
    font-size: 13px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.RestaurantHeader_dottedSeparator {
    border: none;
    border-bottom: 1px dashed #d3d3d3;
    margin-bottom: 18px;
}

.RestaurantHeader_marginBottom{
    margin-bottom: 18px;
}

.RestaurantTimeCost_wrapper {
    color: #3e4152;
    font-size: 15px;
    font-weight: 700;
    list-style: none;
}

.RestaurantTimeCost_item {
    display: inline-block;
}

.RestaurantTimeCost_item:first-child{
    margin-right: 24px;
}

.RestaurantTimeCost_icon {
    vertical-align: bottom;
    margin-right: 10px;
}

li{
    text-align: -webkit-match-parent;
}

.offer-slide{
    padding-bottom: 16px;
    padding-right: 10px;
    padding-left: 10px;
}

.styles_slider{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
}

.styles_slider::-webkit-scrollbar{
    display: none;
}

.styles_row{
    display: -webkit-box;
    display: flex;
}

.styles_slide{
    scroll-snap-align: center;
    flex-shrink: 0;
    margin-right: 12px;
}

.RestaurantOffer_wrapper{
    display: flex;
    border: 1px solid #e9e9eb;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,.04);
    border-radius: 8px;
    padding: 8px;
    height: 100%;
    min-width: 200px;
    align-items: center;
}

/* .RestaurantOffer_container{
    display: flex;
} */

.RestaurantOffer_infoWrapper{
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
}

.RestaurantOffer_headerWrapper{
    display: flex;
    align-items: center;
}

.RestaurantOffer_icon{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.RestaurantOffer_header{
    font-size: 1.07rem;
    font-weight: 600;
    white-space: nowrap;
    color: #686b78;
    font-family: ProximaNovaCondensedBold,arial,Helvetica Neue,sans-serif;
}

.RestaurantOffer_offerCodeWrapper{
    font-size: .86rem;
    color: #93959f;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    font-weight: 700;
    font-family: ProximaNovaCondensedRegular,arial,Helvetica Neue,sans-serif;
}

.styles_container__28Awf {
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.styles_topMargin__2wPNf {
    margin-top: 24px;
}

.styles_vegOnly__3k3n5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 14px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.styles_vegOnlyLabel__HR3Ii {
    font-size: 1rem;
    color: #3d4152;
    font-weight: 600;
}

.styles_vegOnlyFilter__3ODDm {
    margin-left: 12px;
    font-size: 0;
}

.ToggleSwitch_toggleBar__1peIy {
    background: #d4d5d9;
    width: 36px;
    height: 18px;
    position: relative;
    -webkit-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
    transition: background-color .25s linear;
    will-change: background-color;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    contain: layout;
    display: inline-block;
    border-radius: 4px;
}

.ToggleSwitch_toggleBar{
    background-color: rgb(0, 128, 0);
}

.ToggleSwitch_toggleBar__1peIy, .ToggleSwitch_toggleThumb__NBLuA {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ToggleSwitch_toggleThumb__NBLuA {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 14px;
    background: #fff;
    border: 2px solid #d4d5d9;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    will-change: transform,border-color;
    contain: strict;
    border-radius: 4px;
}

.ToggleSwitch_toggleThumbActive__3hBTE {
    -webkit-transform: translate3d(18px,0,0);
    transform: translate3d(18px,0,0);
    border-color: rgb(0, 128, 0);
}

.ToggleSwitch_toggleThumbContent__33ZU6 {
    opacity: 0;
    -webkit-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear;
    will-change: opacity;
}

.styles_vegOnlyCircle__3UQr3 {
    background: #0f8a65;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.styles_divider__1BqVH {
    border-bottom: 0.5px solid #d3d3d3;
    height: 0.5px;
    margin: 24px auto;
    width: calc(100% - 32px);
}

.styles_header{
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-right: 16px;
    font-size: 1.15rem;
}

.styles_headerTitle{
    line-height: 1.2;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.styles_headerTitle{
    color: #282c3f;
    font-size: 1.15rem;
    font-weight: 400;
}

.main_container{
    position: relative;
    margin: 24px 8px 16px 16px;
}

.styles_headerMain{
    margin-bottom: 24px;
}

.styles_headerNestedTitle{
    color: #3e4152;
    font-weight: 800;
    font-size: 1.3rem;
    display: inline-block;
    line-height: 1.2;
    transition: all .2s ease;
}

.styles_container{
    padding-bottom: 14px;
    width: 100%;
}

.styles_divider{
    border-bottom: 0.5px solid #d3d3d3;
    height: 0.5px;
    margin: 20px 0;
}

.styles_dividerFull{
    -webkit-animation: styles_openMenuDivider .4s ease-in-out forwards;
    animation: styles_openMenuDivider .4s ease-in-out forwards;
}

@keyframes styles_openMenuDivider{
    0% {
        width: 100%;
    }
    100% {
        width: 14%;
    }
}

.styles_item{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.styles_detailsContainer{
    max-width: calc(100% - 144px);
}
/* 
.res_card_img{
    width: 20px;
} */

.res_card_img img{
    width: 20px;
    margin-bottom: -5px;
}

.styles_itemRibbon{
    margin-left: 8px;
    vertical-align: middle;
}

.styles_ribbon{
    display: inline-block;
    line-height: 1.15rem;
    font-size: .93rem;
    color: #ee9c00;
    font-weight: 500;
    font-family: ProximaNovaCondensedBold,arial,Helvetica Neue,sans-serif;
}

.styles_ribbonStar{
    font-size: .86rem;
}

.styles_itemName{
    margin-top: 4px;
}

.styles_itemNameText{
    margin-right: 4px;
    font-size: 1.22rem;
    font-weight: 500;
    color: #3e4152;
    word-break: break-word;
}

.styles_itemPortionContainer{
    -webkit-box-align: center;
    align-items: center;
    margin-top: 4px;
}

.styles_price{
    font-size: 1rem;
}

.styles_itemDesc{
    margin-top: 14px;
    line-height: 1.3;
    color: rgba(40,44,63,.45);
    width: 100%;
    letter-spacing: -.3px;
    font-size: 1rem;
}

.styles_itemImageContainer{
    position: relative;
    margin-left: 16px;
    min-width: 118px;
    height: 120px;
    font-size: 0;
}

.styles_itemImagebtn,
.styles_itemImage{
    width: 118px;
    height: 96px;
    object-fit: cover;
    border-radius: 6px;
}

.styles_itemImagebtn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40,44,63,.05);
    background-blend-mode: overlay;
    height: 96px;
    border-radius: 6px;
}

.styles_itemAddButton{
    position: absolute;
    left: 50%;
    bottom: 8px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

.main_buttonInner{
    width: 96px!important;
    height: 36px!important;
}

.main_button{
    position: relative;
    min-height: 36px;
}

._211P0{
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 8px #e9e9eb;
    border-radius: 4px;
}

._3L1X9{
    display: inline-block;
    border: 1px solid #d4d5d9;
    color: #60b246;
    font-size: .9rem;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
}

/* ADD Button */

._4aKW6 {
    display: none!important;
}

/* ADD */

._1RPOp {
    color: #60b246;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

._1RPOp:hover {
    position: relative;
    box-shadow: 0 2px 8px #d4d5d9;
}

._1uN_a{
    animation: elpqW .2s ease;
}

@keyframes elpqw{
    0% {
    opacity: 0;
    transform: translate3d(0,7.5px,0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

/* + */

._1ds9T{
    position: absolute;
    right: 0;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
    font-size: 150%;
    font-weight: 600;
}

._2Thnf{
    animation: _1gckB .2s ease;
    /* opacity: 0;
    transform: translateZ(0); */
}

@keyframes _1gckB {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    100% {
        opacity: 0;
        transform: translate3d(-100%,0,0);
    }
}

/* - */

._29Y5Z{
    position: absolute;
    left: 0;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
}

._2od4M{
    animation: _1vozQ .2s ease;
    /* opacity: 0;
    transform: translateZ(0); */
}

@keyframes _1vozQ {
    0% {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

._29Y5Z:before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 10px;
    background-color: #bebfc5;
    position: relative;
    top: -6px;
}



._2zAXs{
    position: absolute;
    left: 33.33333%;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
}

._18lJJ{
    animation: akcss .2s ease;
    /* opacity: 0;
    transform: translateZ(0); */
}

@keyframes akcss {
    0% {
        opacity: 0;
        transform: translate3d(0,-7.5px,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.main_border{
        height: 16px;
        border-bottom: 16px solid #f1f1f6;
}

.BaseModal_content{
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 280px;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: center;
    transform-origin: center;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
    opacity: 0;
    max-width: 90%;
}

.BaseModal_content__show{
    -webkit-animation: BaseModal_fadeIn__2TH7g .1s ease-in forwards;
    animation: BaseModal_fadeIn__2TH7g .1s ease-in forwards;
}

@keyframes BaseModal_fadeIn__2TH7g{
    0% {
        -webkit-transform: translate3d(-50%,-50%,0) scale(.5);
        transform: translate3d(-50%,-50%,0) scale(.5);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate3d(-50%,-50%,0) scale(1);
        transform: translate3d(-50%,-50%,0) scale(1);
        opacity: 1;
    }
}

.RestaurantOutlet_header{
    background: #f2f6fc;
    height: 150px;
    box-shadow: 0 1px 0 0 #e9e9eb;
    padding: 24px 16px 0;
}

.RestaurantOutlet_headerImage{
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 18px;
    background: #eef0f5;
}

.ScreenReaderOnly_screenReaderOnly{
    position: absolute;
    clip: rect(0,0,0,0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}

.RestaurantOutlet_headerTitle{
    color: #3d4152;
    font-size: 1.07rem;
    line-height: 1;
    font-weight: 500;
}

.RestaurantOutlet_headerDescription{
    color: #7e808c;
    font-size: .93rem;
    line-height: 1.7;
}

.RestaurantOutlet_list{
    background: #fff;
}

@media (min-width: 640px){
    .RestaurantOutlet_list{
        max-height: 500px;
        overflow: scroll;
    }
}

.RestaurantOutlet_listItem{
    padding: 18px 16px;
    border-bottom: 1px solid #e9e9eb;
    color: #686b78;
    font-size: .85rem;
    position: relative;
    overflow: hidden;
}

.RestaurantOutlet_listItemTable{
    display: table;
    table-layout: fixed;
    width: 100%;
}

.RestaurantOutlet_listItemAddress{
    display: table-cell;
    vertical-align: middle;
    color: #5d8ed5;
    font-weight: 500;
    font-size: 1rem;
    width: 60%;
}

.RestaurantOutlet_listItemRating{
    display: table-cell;
    vertical-align: middle;
    width: 15%;
    text-align: right;
}

.RestaurantOutlet_listItemRatingIcon{
    font-size: 10px;
    margin-right: 5px;
}

.RestaurantOutlet_listItemSLA{
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    text-align: right;
}

.BaseModal_overlay{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background: rgba(40,44,62,.6);
    -webkit-animation: BaseModal_opacityAnimate__e8O90 .3s;
    animation: BaseModal_opacityAnimate__e8O90 .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: opacity;
    contain: content;
}


/* Location Search */

.not_show_loction{
    visibility: hidden;
}

.show_loction{
    visibility: visible;
}

.FYlIl {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

._3vi_e {
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
    transition: transform .3s ease-out;
    z-index: 10001;
    transform: translateZ(0);
    left: 0px;
    right: auto;
    transform: translate(0%, 0px);
}

._12S7_ {
    position: relative;
}

._1YLwL {
    height: 100vh;
    position: relative;
}

._1OTcX, ._2MUP_, ._3btQx {
    position: absolute;
    left: 0;
    right: 0;
    visibility: hidden;
    height: 15px;
    background: #ff0;
}

._3btQx {
    top: 0;
}

._3RbEL, ._3Za6N, ._255pY {
    position: -webkit-sticky;
    position: sticky;
    background: #fff;
    z-index: 1;
}

._3RbEL {
    top: 0;
    box-shadow: 0 2px 4px 0 #e9e9eb;
}

._djr34{
    padding-left: 76px;
    padding-right: 40px;
    width: 478px;
}

.icon-location{
    text-align: left;
    font-size: 20px;
    width: 32px;
    padding-top: 0;
    padding-left: 1px;
}

._1L8WG {
    padding: 32px 0 20px;
    margin-bottom: 30px;
}

.SSFcO {
    float: left;
    color: #3d4152;
    cursor: pointer;
}

._2Joay {
    margin-left: 30px;
    font-size: 1.3rem;
    font-weight: 700;
    color: #282c3f;
    line-height: 1.2rem;
}

._1hjIq {
    position: relative;
    padding-bottom: 20px;
}

._3Um38 {
    border: 1px solid #d4d5d9;
    padding: 0;
    display: block;
    position: relative;
    transform: translateZ(0);
}

._381fS {
    background-color: transparent;
    line-height: normal;
    border: none;
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    padding: 0 20px;
    padding-top: 22px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}


._1H_62 {
    padding-right: 72px;
}

._1oTLG {
    height: 50px;
    padding-top: 0;
    font-size: 1.15rem;
}


._2EeI1 {
    position: absolute;
    right: 20px;
    bottom: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #5d8ed5;
    transform: translateZ(0);
    cursor: pointer;
    will-change: transform;
    transition: .2s ease;
}

._26LFr {
    -ms-transform: translateY(70%);
    transform: translateY(70%);
}

._1Cvlf {
    position: absolute;
    left: 0;
    bottom: 24px;
    padding-left: 20px;
    line-height: 20px;
    cursor: text;
    transition: .2s ease;
    width: 100%;    
    will-change: transform,color,font-size;
    pointer-events: none;
}

._2tL9P {
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}

._1boND {
    padding: 8px 0 40px;
    padding-left: 76px;
    padding-right: 40px;
    width: 478px;
}

._96hVG {
    padding: 0;
    border: 1px solid #d4d5d9;
    margin-bottom: 20px;
}

._2peD4, ._2VP2F {
    position: relative;
}

._2peD4 {
    overflow: hidden;
    cursor: pointer;
}

._2peD4:hover .Ku2oK {
    color: #fc8019;
}

._2peD45:after {
    content: "";
    display: block;
    border-top: 1px dashed #a9abb2;
    position: relative;
    margin-left: 56px;
}

.J80xC {
    display: table;
    table-layout: fixed;
    padding: 22px 24px;
}

._13AY4 {
    text-align: left;
    font-size: 40px;
    width: 32px;
    padding-top: 0;
    padding-left: 1px;
    color: #535665;
}

._3eFzL, ._13AY4 {
    display: table-cell;
}

.icon-location-crosshair:before {
    content: "\2316";
}

._3eFzL {
    vertical-align: middle;
}

.Ku2oK {
    font-size: 16px;
    font-weight: 500;
    color: #282c3f;
}

._1joFh {
    font-size: 13px;
    color: #93959f;
    line-height: 1.3;
    padding-top: 5px;
}

._96hVG {
    padding: 0;
    border: 1px solid #d4d5d9;
    margin-bottom: 20px;
}

._1-cF7, ._2vuQq {
    font-size: 12px;
    color: #7e808c;
    margin: 25px 0 0;
    margin-left: 56px;
}

.J80xC {
    display: table;
    table-layout: fixed;
    padding: 22px 24px;
}

._fgrt4{
    font-size: 28px;
}

.icon-recent:before {
    content: "\27F2";
}

.Ku2oK {
    font-size: 16px;
    font-weight: 500;
    color: #282c3f;
}

._1joFh {
    font-size: 13px;
    color: #93959f;
    line-height: 1.3;
    padding-top: 5px;
}

.overlay {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #282c3f;
    opacity: .7;
    overflow: hidden;
}


/* Help Section */


._1w2w1 {
    padding: 0 20px;
    background: #37718e;
    min-height: 100vh;
}

._1w2w1, ._2BkKe {
    position: relative;
}

._2BkKe {
    padding-top: 33px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

._2u7X5 {
    color: #fff;
    margin-bottom: 37px;
    margin-top: 37px;
    position: relative;
}

._2qu87 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.nVlfh {
    margin-top: 2px;
    font-size: 16px;
}
._3ANBe {
    padding: 0 20px;
    width: 100vw;
    height: 80px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 3;
}

._1-rIX {
    background: #35728a;
    box-shadow: none;
}

._3MXWN {
    opacity: 0;
    transform: translate3d(0,-100%,0);
    animation: _2NB4Z .2s ease;
}

@keyframes _2NB4Z {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    
    100% {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }
}

.O6J5C {
    animation: _1jgWD .2s ease;
}

@keyframes _1jgWD {
    0% {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

._2G5fZ {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
}

._1-rIX ._2G5fZ {
    color: #fff;
}

._2VR4Z {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.-dIwe {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
}

._3qvHl {
    font-size: 14px;
    font-weight: 300;
}

._3tDvm {
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.15);
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

._3tDvm, .v6luz {
    background: #fff;
    contain: layout;
}

.v6luz {
    width: calc(((100vw - 1300px) / 2) + 2px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 1px;
    opacity: 0;
    z-index: 1;
    will-change: opacity;
    transition: opacity .3s ease;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.FvIBT {
    opacity: 1;
}

._2QhOV {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    contain: layout;
}

._3glSS {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}

._3R9IF {
    display: -ms-flexbox;
    display: flex;
}

._2gu8R {
    min-width: 260px;
    background: #edf1f7;
}

._2gu8R ul {
    padding: 20px 0;
    position: sticky;
    top: 80px;
}

._2y6HV {
    padding: 25px 20px;
    margin-left: 20px;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

._1W0l- {
    background: #fff;
}

._3aS-n {
    margin-left: 40px;
    font-size: 16px;
    color: #535665;
    font-weight: 500;
}

.fmxXC {
    color: #282c3f;
    font-weight: 600;
}

.-zxNr {
    -ms-flex: 1;
    flex: 1;
    background: #fff;
    padding: 37px 0 0 50px;
    position: relative;
    min-height: 80vh;
}

._2at3z {
    font-size: 24px;
    font-weight: 600;
}

._3rl8Q {
    border-bottom: 1px solid #d4d5d9;
}

.O1vpu {
    padding: 22px 0 26px;
    cursor: pointer;
    color: #3d4152;
    width: 100%;
    text-align: left;
}

.O1vpu:hover {
    color: #fc8019;
}

.L1QZ_ {
    font-size: 18px;
}

._1VUPm {
    float: right;
    font-size: 16px;
    font-weight: 600;
    padding-right: 20px;
    margin-top: 5px;
    color: #4c4d52;
}

._1YEKM {
    color: #686b78;
    font-size: 14px;
    padding-right: 50px;
    padding-bottom: 27px;
    line-height: 1.4;
    width: 800px;
    margin-top: -4px;
    white-space: pre-wrap;
}

._7bf5B {
    color: #fc8019;
    font-weight: 600;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
    letter-spacing: -.3px;
    padding-bottom: 22px;
    display: inline-block;
}

.GM_Lh {
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 27px;
}

._2aDLa {
    margin-right: 25px;
}

._1vMNs {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    height: 40px;
    color: #fc8019;
    border: 1px solid #fc8019;
    padding: 0 15px;
    position: relative;
    width: auto;
    margin: 0;
}

._1tK48 {
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    color: #93959f;
}

._1a4Mf {
    width: calc(((100vw - 1300px) / 2));
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s ease;
    will-change: transform;
    contain: layout;
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

._3m2h5 {
    opacity: 1;
}

/* Search Section */

.rbcmH {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    left: 0;
    top: 80px;
    z-index: 2;
    background-color: #fff;
    padding-bottom: 8px;
    padding-top: 48px;
}

._1BoQl, ._1jet9 {
    left: 0;
    z-index: 2;
    transform: translateZ(0);
}

._1jet9 {
    width: 860px;
    margin: 0 auto 8px;
    border: 1px solid rgba(40,44,63,.3);
    border-radius: 3px;
}

._1JbgW {
    padding: 0;
    background: #fff;
    height: 48px;
    overflow: hidden;
    border-bottom: 1px solid rgba(40,44,63,.2);
}

._1QBzC {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    padding-right: 13px;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

._38OJP {
    padding: 14px 12px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 0;
    outline: none;
}

._2EyGE {
    animation: l5Czt .3s ease-in;
}

@keyframes l5Czt {
    0% {
        transform: translateX(-150%);
        width: 10px;
    }
    
    100% {
        transform: translateX(0);
        width: 40px;
    }
}

._16EzP {
    stroke-width: 0;
    stroke: currentColor;
    width: 20px;
    height: 20px;
    fill: #3d4152;
    vertical-align: middle;
}

._2O4-3 {
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    padding-right: 12px;
}

._2O4-3:first-child {
    padding-left: 16px;
}

._2FkHZ {
    font-size: 1.15rem;
    line-height: 24px;
    width: 100%;
    height: 100%;
    outline: 0;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: inherit;
    color: inherit;
    background: inherit;
    vertical-align: middle;
    font-weight: 500;
}

._2p8XD {
    color: #686b78;
    font-size: 18px;
    height: 18px;
}

._2p8XD .icon-magnifier{
    font-family: icomoon;
    font-style: normal;
    font-weight: 500;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._3XUKB{
    color: #7e808c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}

.jBKjW {
    font-size: 14px;
    line-height: 20px;
}

._2NSqs {
    position: relative;
    min-height: calc(100vh - 70px);
    width: 860px;
    margin: 0 auto;
}

._3X3Bt {
    color: #282c3f;
    overflow-x: hidden;
    animation-duration: .5s;
}

._1cEc4 {
    margin-top: 0!important;
    background-color: #fff!important;
}

/* Search Default */
._13h-R {
    background: #f5f6f8;
}

.Search_divider__3ARUS {
    margin-top: 8px;
    height: 4px;
    border-bottom: 8px solid #aeb1be;
    opacity: .3;
}

._5iVPM {
    display: none;
}

.styles_container__jxIGl {
    background: #fff;
}

.styles_headerContainer__2UgeD {
    width: 100vw;
}

._2cdfd{
    padding: 28px 0px 0px 16px;
}

.styles_headerContainerTitle__27_ET {
    font-size: 1.43rem;
    font-weight: 800;
    color: #3d4152;
    letter-spacing: -.3px;
    font-family: ProximaNovaExtraBold,arial,Helvetica Neue,sans-serif;
}

.styles_headerContainerSubtitle__1WRg5,
.styles_headerContainerTitle__27_ET {
    display: block;
}

.styles_headerContainerSubtitle__1WRg5 {
    font-size: 1.15rem;
    font-weight: 400;
    color: #686b78;
    margin-top: 2px;
}

._fft45{
    padding: 12px 16px 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.styles_slider__podEu {
    display: -webkit-box;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
}

.styles_slider__podEu::-webkit-scrollbar{
    display: none;
}

.styles_row__1ivP1,
.styles_scrollContainer__3x6cO {
    display: -webkit-box;
    display: flex;
}

.styles_slide__2c207 {
    scroll-snap-align: center;
    flex-shrink: 0;
    margin-right: 10px;
}

.Carousel_slide__klR8u {
    scroll-snap-align: center;
    min-width: 100%;
    min-height: 100%;
}

.styles_container {
    display: inline-block;
    background-size: contain;
}

.__1Nshr{
    width: calc(((((25vw - 0px) - 0px) - 16px) - 40px) * 0.235294);
    height: calc(1.42105 * (((((25vw - 0px) - 0px) - 16px) - 40px) * 0.235294));
    min-width: calc(((((25vw - 0px) - 0px) - 16px) - 40px) * 0.235294);
    min-height: calc(1.42105 * (((((25vw - 0px) - 0px) - 16px) - 40px) * 0.235294));
}

.Ripple_container__17nxL {
    position: relative;
    overflow: hidden;
}

.styles_containerImg__3AXGh {
    width: 100%;
    height: 100%;
}

.styles_img__3HNZ4 {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

/* Search Result */

._1VxLu {
    background: #fff;
    color: #282c3f;
    height: 100%;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 56px;
    overflow-x: hidden;
}

._37IIF {
    display: -ms-flexbox;
    display: flex;
    padding: 14px 16px 14px 0;
    margin-left: 16px;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
}

._1rZ-i:hover {
    background: #f2f6fc;
    color: #282c3f;
}

._12_oN {
    opacity: 0;
    transition: opacity .3s ease-out;
}

._2tuBw {
    opacity: 1!important;
}

._2f0cx {
    -ms-flex-align: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

._2f0cx, ._23LIV {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

._23LIV {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 15px;
}

.RNzoC {
    font-size: 1.07rem;
    margin-bottom: 1px;
}

b {
    font-weight: bolder;
}

._1Z_E6 {
    font-size: 1rem;
    color: #7e808c;
}

/* Search Section */

._3_gGY {
    margin-bottom: 20px;
    margin-left: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    
}

._3jBq8 {
    margin-top: 55px!important;
}

.Search_wrapper__lQvnw {
    z-index: 1;
    background: #f5f6f8;
}

.Search_widgetsFullLength__2lPs9 {
    flex: 100%!important;
}

.search_card_dish,
.search_card_res{
    display: flex;
    flex-wrap: wrap;
}

.Search_widgetsV2__27BBR {
    flex: 1 1 50%;
}

._3DdnR {
    top: 184px!important;
    padding: 8px 0 0!important;
}

._3c2Bs, ._3DdnR {
    width: 860px!important;
    margin-left: -14px;
}

.NavTabs_wrapper__1me4c {
    background-color: #fff;
    display: flex;
    padding: 0 16px;
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 48px;
    top: 80px;
    border-bottom: 1px solid #f5f6f8;
}

.NavTabs_wrapperScrolled__10HRt {
    box-shadow: 0 1px 0.8px #e9e9eb;
}

.NavTab_tab__1JygM {
    margin-right: 8px;
    border: 1px solid rgba(2,6,12,.14901960784313725);
    color: #282c3f;
    height: 36px;
    font-size: 1rem!important;
    font-weight: 600;
    padding: 0 12px!important;
    display: flex!important;
    align-items: center;
    cursor: pointer;
}

.styles_container__1ieVH.styles_rounded__3IerS {
    border-radius: 9999px;
}

.NavTab_tabSelected__2B4GW {
    color: #fff;
    background-color: #3e4152;
    border: none;
}

.styles_container__2GTLR {
    content-visibility: auto;
}

@media (min-width: 640px){
    .styles_container__2GTLR {
        max-width: 410px;
        margin: 20px 0 0!important;
    }
}

.styles_containerV2__1_U51 {
    margin-top: 20px;
    contain-intrinsic-size: 250px;
    box-shadow: 0 4px 29px #e8e8e8;
    background: none;
}

.styles_containerInner__2Q_JM {
    background-color: #fff;
    padding: 24px 16px;
}

.styles_containerInnerV2__2yjT5 {
    padding: 22px 16px 8px;
    border-radius: 24px;
    box-shadow: 0 4px 29px #e8e8e8;
}

.styles_restaurant__20fB8 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.styles_restaurantName__5VIQZ {
    color: #686b78;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 500;
    letter-spacing: -.3px;
}

.styles_restaurantNameBold__2OmFY {
    font-weight: 600;
}

.styles_restaurantMeta__2yx7V {
    margin-top: 4px;
    display: flex;
    font-size: .93rem;
    color: #7e808c;
    align-items: center;
    letter-spacing: -.3px;
}

.styles_restaurantMetaRatingStar__8olHv {
    font-size: .86rem;
}

.styles_restaurantMetaRating__3MhTg {
    padding-left: 5px;
}

.styles_restaurantMetaDot__usB4d {
    flex: 1;
    min-width: 10px;
    max-width: 16px;
    position: relative;
    text-align: center;
}

.styles_divider__3zP03 {
    background-image: linear-gradient(90deg,#bebfc5 25%,transparent 0);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    height: 1px;
    margin: 16px 0 20px;
}

.styles_container__-kShr {
    padding-bottom: 14px;
}

.styles_item__3_NEA.styles_hasImage__3OsYt {
    -webkit-box-align: start;
    align-items: flex-start;
}

.styles_item__3_NEA {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ScreenReaderOnly_screenReaderOnly___ww-V {
    position: absolute;
    clip: rect(0,0,0,0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}

.styles_detailsContainer__22vh8 {
    max-width: calc(100% - 144px);
}

.styles_icon__m6Ujp {
    color: #e43b4f;
}

.styles_itemIcon__1LXTw {
    font-size: 1rem;
    vertical-align: middle;
    margin-top: -2px;
    display: inline-block;
    line-height: 1.2;
}

.styles_itemRibbon__353Fy {
    margin-left: 8px;
    vertical-align: middle;
}

.styles_ribbon__3tZ21 {
    display: inline-block;
    line-height: 1.15rem;
    font-size: .93rem;
    color: #ee9c00;
    font-weight: 500;
    font-family: ProximaNovaCondensedBold,arial,Helvetica Neue,sans-serif;
}

.styles_ribbonStar__1cZQq {
    font-size: .86rem;
}

.styles_itemName__hLfgz {
    margin-top: 4px;
}

.styles_itemNameText__3ZmZZ {
    margin-right: 4px;
    font-size: 1.22rem;
    font-weight: 500;
    color: #3e4152;
    word-break: break-word;
}

.styles_itemPortionContainer__1u_tj {
    -webkit-box-align: center;
    align-items: center;
    margin-top: 4px;
}

.styles_itemPrice__1Nrpd {
    margin-right: 8px;
    font-weight: 400;
    color: #3e4152;
}

.styles_price__2xrhD.styles_s__66zLz {
    font-size: 1rem;
}

.rupee:before {
    content: "\20B9";
    margin-right: 0.1rem;
}

.styles_itemDesc__3vhM0 {
    margin-top: 14px;
    line-height: 1.3;
    color: rgba(40,44,63,.45);
    width: 100%;
    letter-spacing: -.3px;
    font-size: 1rem;
}

.styles_hasMoreText__3fWkR.styles_itemDesc__3vhM0 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.styles_itemImageContainer__3Czsd {
    position: relative;
    margin-left: 16px;
    min-width: 118px;
    height: 120px;
    font-size: 0;
}

.styles_itemImage__3CsDL {
    width: 118px;
    height: 96px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
    background: rgb(224, 238, 245);
}

.styles_itemImage__3CsDL {
    width: 118px;
    height: 96px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
}

.styles_itemImage__3CsDL:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40,44,63,.05);
    background-blend-mode: overlay;
    height: 96px;
    border-radius: 6px;
}

._2IhbV {
    position: absolute;
    bottom: 8px;
    width: 96px!important;
    min-height: 36px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* SerachByRestaurant */

.styles_container__zEwGm {
    background-color: #fff;
    padding: 20px 0;
    content-visibility: auto;
    contain-intrinsic-size: 140px;
}

@media (min-width: 640px){
    .styles_container__zEwGm {
        width: 400px;
        margin-left: 4px;
        margin-bottom: 20px;
    }
}

.styles_restaurantListItem__1lOsF {
    margin-bottom: 0;
}

.styles_container__fLC0R {
    padding: 0 16px 8px;
    position: relative;
    display: block;
}

.styles_imgContainer__1uHo5 {
    float: left;
    position: relative;
}

.styles_ImageContainer__2rk9a {
    width: 88px;
    height: 96px;
    background: #eef0f5;
    float: left;
    border-radius: 8px;
    background: rgb(229, 241, 211);
}

.styles_Image__1fplJ {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.styles_Image__1fplJ,
.styles_Image__1fplJ:after {
    background-color: rgba(40,44,63,.05);
    border-radius: 8px;
}

.styles_Image__1fplJ:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-blend-mode: overlay;
}

.styles_containerRestaurant__3vhx3 {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-left: 16px;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 108px;
}

.styles_containerImageBadge__14fk3 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.styles_restaurantName__29jAP {
    line-height: 18px;
    color: #3e4152;
    font-weight: 600;
    margin-top: 1px;
    font-size: 1.15rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.styles_restaurantMeta__2QtMf {
    display: -webkit-box;
    display: flex;
    font-size: .93rem;
    color: #696b79;
    font-weight: 500;
    margin-top: 6px;
    line-height: 16px;
    mix-blend-mode: normal;
}

.styles_restaurantMetaRatingStar__7G4dD {
    font-size: .78rem;
    position: relative;
    top: -1px;
}

.styles_restaurantMetaRating__4H1gt {
    padding-left: 5px;
}

.styles_restaurantMetaDot__1AKA9 {
    -webkit-box-flex: 1;
    flex: 1;
    min-width: 10px;
    max-width: 16px;
    position: relative;
}

.styles_restaurantMetaDot__1AKA9:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    height: 2px;
    width: 2px;
    background: #7e808c;
    border-radius: 100%;
}

.styles_restaurantCuisines__3lBL4 {
    margin-top: 4px;
    font-size: 1rem;
    line-height: 16px;
    color: #93959f;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

